.meet-us {
  padding: 2%;
}

.grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 992px) {
  .meet-us {
    grid-template-columns: 50% 50%;
  }
}
