.ninja-card {
  background-color: white;
  width: auto;
  margin: 2vw 0 2vw;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #cacaca;
  -webkit-box-shadow: 0px 0px 10px 1px #cacaca;
  -moz-box-shadow: 0px 0px 10px 1px #cacaca;
  transition: transform 0.2s;
}

.ninja-card:hover {
  box-shadow: 0px 0px 10px 5px #80c565;
  -webkit-box-shadow: 0px 0px 10px 5px #80c565;
  -moz-box-shadow: 0px 0px 10px 5px #80c565;
  transform: scale(1.1);
}

.ninja-avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.default-avatar {
  content: url("../../default-user-pp.svg");
  display: block;
  width: 65%;
  margin: 10% auto;
}

.ninja-info,
.ninja-social {
  width: 50%;
  float: left;
  display: flex;
  justify-content: space-evenly;
}

.social-icons {
  padding: 10px;
}
.social-icons > a {
  display: inline-block;
  width: 20%;
  padding: 0 0.5vw;
}

.github-icon,
.linkedin-icon,
.twitter-icon {
  width: 2rem;
  height: 2rem;
}
.github-icon {
  content: url("../../github-logo.svg");
}
.linkedin-icon {
  content: url("../../linkedin-logo.svg");
}
.twitter-icon {
  content: url("../../twitter-logo.svg");
}
.ninja-info {
  width: 50%;
  text-align: center;
}
.info-body > p {
  margin: 0 auto;
  line-height: 1.5vw;
  font-weight: 500;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .social-icons {
    padding-top: 15px;
  }
  .info-body > p {
    margin: 5px auto;
    line-height: 5vw;
    font-weight: 500;
    text-align: left;
  }

  .ninja-social {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
  }
  .social-icons > a {
    display: inline-block;
    width: 20%;
    padding: 0 1vw;
  }
}
@media only screen and (max-width: 1024px) {
  .social-icons {
    padding-top: 15px;
  }
  .info-body > p {
    margin: 5px auto;
    line-height: 5vw;
    font-weight: 500;
    text-align: left;
  }

  .ninja-social {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
  }
  .social-icons > a {
    padding: 0 1vw;
  }
}
.ninja-info-main {
  justify-items: left;
}
