body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 2500px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

#root {
  max-width: 1600px;
}

code {
  font-family: "Montserrat", sans-serif;
}
